<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i> Dashboard
        </a>
        <a [routerLink]="['chart']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i> Charts
        </a>
        <a [routerLink]="['tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-quora"></i> Query Manager
        </a>
        <a [routerLink]="['forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-braille"></i> Rule Builder
        </a>
        <a [routerLink]="['element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-ravelry"></i> GlobalCode Manager
        </a>
        <a [routerLink]="['grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-cogs"></i>  Settings
        </a>
      <!--
        <a [routerLink]="['components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i> &nbsp;Component
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-plus"></i> &nbsp; Menu</span>
            </a>
            <li class="nested" [ngClass]="{'expand' : showMenu === 'pages' }">
                <ul class="submenu">
                    <li>
                        <a href><span>Submenu</span></a>
                    </li>
                    <li>
                        <a href><span>Submenu</span></a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['blankpage']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i> &nbsp;BlankPage
        </a>
        -->
    </ul>
</nav>
