<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/img/SB-admin.png" width="150px" class="user-avatar" />
			<h1>GSS Operations</h1>
			<form role="form">
				<alert *ngFor="let alert of alerts; let i = index" [type]="alert.type" dismissible="true" (close)="closeAlert()">
					{{ alert?.msg }}
				</alert>
				<div class="form-content">
					<div class="form-group">
						<input type="text" name="username" [(ngModel)]="_model.username" class="form-control input-underline input-lg" id="" placeholder="Email" required>
					</div>

					<div class="form-group">
						<input type="password" name="pwd" [(ngModel)]="_model.pwd" class="form-control input-underline input-lg" id="" placeholder="Password" required>
					</div>
				</div>
				<a class="btn rounded-btn" (click)="login()"> Log in </a> <!-- routerLink="/dashboard/home"> Log in </a> -->
				&nbsp;
				<!-- <a type="submit" class="btn rounded-btn" routerLink="/signup">Register</a> -->
				<a class="btn rounded-btn" (click)="signup()"> Register </a>
			</form>
		</div>
	</div>
</div>
